@import "./utils/variables";
@import "./layout/navbar";

.container .h2,
h2,
blockquote .h2,
h2 {
  font-size: 2.58rem;
  font-weight: bold;
}

.parallax-section {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 110px;
  padding-top: 110px;
  width: 100%;

  &::before {
    background-size: 280px;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.wrappy {
  color: #fff;
  text-align: center;
  z-index: 999;

  img {
    margin-bottom: 35px;
  }

  h1 {
    font-size: 2.125rem;
  }
}

.parallax-section a {
  color: #fff !important;
}

.parallax-section .text-size {
  font-size: 2.2em;
  font-weight: bold;
  text-align: center;
}
.texture-paper::before {
  background: url("../img/texture-paper.png");
  background-size: 280px 280px;
}

.white {
  color: #fff;
}

.text-paragraph-size {
  font-size: 1.5em;
}

.picture {
  h2 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 5px;
    text-transform: uppercase;
  }
}

blockquote {
  margin: 0 !important;
  @include tablette-first {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
}

.parallax-section::before {
  content: "";
  background-size: 280px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bloc-l {
  margin-left: 60px;
}

.bloc-info {
  background: #c4c4c4;
  text-align: center;
  margin-left: 45px;
}

.bloc-info h2 {
  font-size: 4.5rem;
  color: #333;
  font-weight: bold;
}
.bloc-info .info-text {
  font-size: 2.5rem;
  color: #333;
  margin-top: 125px;
}

.form-size {
  width: 50%;
}

.text-danger {
  color: crimson;
  font-weight: 600;
  font-size: 25px;
}

.mt-3 {
  font-size: 2.125rem;
  color: #000;
  font-weight: bold;
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1rem !important;
  font-size: 1.25rem;
}

.parallax-section .bgc-dark {
  background: rgb(0 0 0 / 65%);
}

.parallax-section .mt5 {
  font-size: 2.2rem;
  color: #fff;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 60px;
}

.article-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  @include tablette-first {
    display: flex;
    flex-flow: column wrap;
  }
}
/*****bANNIERE SECTION******/

#bloc-1-hero {
  background: url("../img/la-chouette-agence-banniere.jpg");
}

#bloc-2-hero {
  background: url("../img/presentation.jpg");
}

#bloc-5-cta {
  background: url("../img/presentation.jpg");
}

#bloc-contact {
  background: linear-gradient(
      rgba(29, 27, 27, 0.397),
      rgba(172, 171, 171, 0.069)
    ),
    url(../img/signin.jpg) no-repeat;
  background-size: cover;
  h1 {
    font-size: 4.125rem;
  }
}

#header h2 {
  font-size: 45px;
}

blockquote p {
  font-size: 1.5rem;
  font-style: italic;
  margin: 20px 25px;
}

.cite::before {
  content: "\2014\00A0";
}

.cite {
  display: block;
  font-size: 1.3rem;
  color: #6c757d;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.parallax-section .wrappy {
  color: #fff;
  font-weight: bold;
  text-align: center;
  z-index: 999;
}

/*ICONS*/

.et-icon {
  color: #000;
  height: 100px;
  width: 100px;
}

#cta-hero {
  font-size: 1.5em;
  margin-bottom: 25px;
}

/******FOOTER**********/

.footer-blockquote {
  text-align: center;
}

footer blockquote {
  padding: 0.5rem;
}
footer blockquote p {
  font-size: 2.2rem;
}

.icon-md::before {
  margin-right: 10px;
}

.icon-md {
  font-size: 30px !important;
  font-weight: bold;
  text-transform: none;
}

footer .col-footer {
  margin-top: 20px;
}

.row-social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.twitter {
  color: #55acee;
  &:hover {
    color: #000;
  }
}

.facebook {
  color: #3b5998;
  &:hover {
    color: #000;
  }
}

.dribble {
  color: #e94c88;
  &:hover {
    color: #000;
  }
}

.bloc-form {
  margin: 125px 0;
}
/*
.mg-lg {
  margin-top: 10px;
  margin-bottom: 40px;
}*/

.blockote-paragraph {
  font-size: 18px;
}

.blockote-paragraph::before,
.blockote-paragraph::after {
  width: 10px;
  height: 10px;
}

.btn {
  font-size: 15px;
  text-transform: uppercase;
  background: $btn_color;
  color: #fff;
  padding: 12px;
}

.instagram {
  color: #3f729b;
  &:hover {
    color: #000;
  }
}

/*******SCROLL BUTTON******/
.scrollToTop {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: crimson;
  color: #fff;
  opacity: 0.8;
  z-index: 500;
  transition: all 0.3s ease-in-out;
}

.updown {
  color: #fff;
}

.scrollToTop span {
  margin-top: 6px;
}

.showScrollTop {
  font-size: 14px;
  background: crimson;
  color: #fff;
  opacity: 1;
}

/******MODAL SECTION****************/
.picture {
  text-align: center;
}

.lightbox-img {
  display: block;
  position: relative;
  text-align: center;

  &:hover {
    &::before {
      content: "+";
      position: absolute;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
        "Helvetica Neue", Helvetica, Arial;
      font-size: 32px;
      width: 50px;
      height: 50px;
      margin-left: -25px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      font-weight: 100;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
    img {
      opacity: 0.6;
      -webkit-animation-fill-mode: none;
      animation-fill-mode: none;
    }
  }
}

@media screen and (max-width: 580px) {
  .navbar-brand img {
    max-width: 275px;
  }

  #bloc-1-hero {
    background: url("../img/la-chouette-agence-banniere_mini.png");
    img {
      height: 100px;
      width: 100px;
    }
  }
  #bloc-2-hero {
    background: url("../img/presentation_mini.png");
  }

  #bloc-5-cta {
    background: url("../img/presentation_mini.png");
  }

  .wrappy {
    h1 {
      font-size: 1.75rem;
    }
    h2 {
      font-size: 1.28rem;
    }
    img {
      margin: 20px 0;
    }
  }
  .mt-3,
  .container .h2,
  h2,
  blockquote .h2,
  h2 {
    font-size: 2rem;
  }

  #bloc-contact {
    background: linear-gradient(
        rgba(29, 27, 27, 0.397),
        rgba(172, 171, 171, 0.069)
      ),
      url(../img/signin_mini.png) no-repeat;
    background-size: cover;
  }

  .wrappy h1 {
    font-size: 1.85rem;
  }

  form {
    margin-bottom: 50px;
  }
}
